@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-btn-primary {
  background-color: #0b192c;
  pointer-events: non;
}
.ant-btn-primary:hover {
  background-color: #0b192c !important;
  cursor: pointer;
}
.ant-btn-danger:hover {
  background-color: #b8001f !important;
  cursor: pointer;
}

.categories::-webkit-scrollbar,
.products::-webkit-scrollbar,
.cart-items::-webkit-scrollbar {
  display: none;
}

.category-item {
  @apply flex items-center justify-center text-center bg-orange-700 text-white py-8 px-4 md:w-full md:py-10 min-w-32 h-14 min-h-12 rounded-lg cursor-pointer hover:scale-95 transition-all duration-300;
}
